
// media 
@import "config/media.scss";

// resolutions 
$wrapper: 1478px;
$desktop-large: 1250px;
$desktop: 1140px;
$tablets-large: 992px;
$tablets: 768px;
$tablets-small-up: 600px;
$tablets-small: 540px;
$phones: 480px; 
$phones-min: 380px;
$horizontal: 530px;
$horizontal-mobile: 450px;
$iphone: 350px;

